<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>FOODZI</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="./moment-with-locales.js"></script>
	<link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	{{{ body }}}
</body>

</html>