<form id="food-search">
    <input placeholder="Enter a food" id="food-item" type="text" />
    <button type="submit">Search</button>
</form>

<br>

<p class="add" id="sunday" data-day="0"></p>
<br>
<p class="add" id="monday" data-day="1"></p>
<br>
<p class="add" id="tuesday" data-day="2"></p>
<br>
<p class="add" id="wednesday" data-day="3"></p>
<br>
<p class="add" id="thursday" data-day="4"></p>
<br>
<p class="add" id="friday" data-day="5"></p>
<br>
<p class="add" id="saturday" data-day="6"></p>
<br>
<p id="weekly-totals">Weekly Totals:</p>
<br>

<p id="past-weeks"></p>

<a href="/logout">Logout</a>

<script src="./js/food.js" type="text/javascript"></script>