<form id="food-search">
    <input placeholder="Enter a food" id="food-item" type="text" />
    <button type="submit">Add</button>
</form>

<p id="error"></p>

<br>

<p id="sunday"></p>
<br>
<p id="monday"></p>
<br>
<p id="tuesday"></p>
<br>
<p id="wednesday"></p>
<br>
<p id="thursday"></p>
<br>
<p id="friday"></p>
<br>
<p id="saturday"></p>
<br>
<p id="weekly-totals"></p>
<br>

<div id="previous-weeks"></div>
<br>

<a href="/logout">Logout</a>

<script src="./js/food.js" type="text/javascript"></script>