<h1>Login Form</h1>

<form class="login">

    <label>Username</label>
    <input id="username" placeholder="Username">

    <label>Password</label>
    <input type="password" id="password" placeholder="Password">

    <button type="submit">Login</button>
</form>

<br>
<p>Or sign up <a href="/">here</a></p>

<script src="./js/login.js"></script>