<nav>
    <div class="nav-wrapper purple" id="food-log-nav">
        <a href="/food-storage" class="brand-logo center">Recipes</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">FOODZI</a></li>
        </ul>
    </div>
</nav>

<div class="section blue lighten-5 row">
  <div class="col s6">
      <div class="row">
  <div class="col">
            <h2>Add What you have!</h2>
                
            <form id="food-form">
                <input type="text" id="food-input" placeholder="What are you adding?">
                <input type="text" id="food-number" placeholder="How many are you adding?">
                <button type="submit">Add Something!</button>
            </form>

            <div id="food-container">
                <ul id="food-list">
                </ul>
            </div>

        
        
        </div>
      </div>
  </div>
  
        
<div class="col s6">
    <div class="row">
        <div class="col">
        
        <h2>Recipe Look Up</h2>

        <form id="recipe-form">
            <input type="text" id="recipe-input" placeholder="What are you looking for?">
            <button type="submit">Search!</button>
            {{!-- <button id="search-All"type="submit">Search All!</button> --}}
        </form>
        
        <div id="recipe-container">
            <ul id="recipe-list">
            </ul>
        </div>
        
        </div>
    
    <div class="section-cards yellow lighten-5">
   
   <div class="card-3d col s6 l3" id="card-1">
     <div class="img-box">
       <img src="https://images.unsplash.com/photo-1518779578993-ec3579fee39f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="">
     </div>
     <div class="details">
       <h4>Your Favorite Recipes</h4>
       <p>Favorite a recipe to view it here!
       </p>
     </div>
   </div>
   <div class="card-3d col s6 l3" id="card-2">
     <div class="img-box">
       <img src="https://images.unsplash.com/photo-1518779578993-ec3579fee39f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="">
     </div>
     <div class="details">
       <h4>Your Favorite Recipes</h4>
       <p>Favorite a recipe to view it here!
       </p>
     </div>
   </div>


    </div>

    </div>
</div>

</div>



<script src="../js/foodStorage.js"></script>