<h1>Sign Up Form</h1>

<form class="signup">
    <label>Username</label>
    <input id="username" placeholder="Username">

    <label>Password</label>
    <input type="password" id="password" placeholder="Password">

    <button type="submit">Sign Up</button>
</form>

<br>
<p>Or log in <a href="/login">here</a></p>

<script src="./js/signup.js"></script>